/* Home page specific styles */
/* You can use Tailwind @apply here */

.hero-section {

    padding-top: 3rem;

    padding-bottom: 3rem
}

@media (min-width: 768px) {

    .hero-section {

        padding-top: 5rem;

        padding-bottom: 5rem
    }
}

.hero-title {

    margin-bottom: 1rem;

    font-size: 2.25rem;

    line-height: 2.5rem;

    font-weight: 700
}

@media (min-width: 768px) {

    .hero-title {

        font-size: 3rem;

        line-height: 1
    }
}

.hero-subtitle {

    margin-bottom: 2rem;

    font-size: 1.25rem;

    line-height: 1.75rem;

    --tw-text-opacity: 1;

    color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}
